div{
    background-color: red;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    color: white;
    font-size: 50px;
}

p{
    font-family: 'Arial', sans-serif;
    font-size: 30px;
    color: white;
    text-align: center;
    background-color: chartreuse;
}

button{
    background-color: blue;
    color: white;
    font-size: 20px;
    font-family: 'Arial', sans-serif;
    text-align: center;
}